swagger: "2.0"
info:
  description: "Screenshot-Capture-API.com Screenshot Capture is a very simple but powerful screenshot API that anyone can easily use to create pixel-perfect website screenshots. It always uses a recent version of Chrome to ensure that all modern web features are fully supported and rendering is exactly as your customers would expect."
  version: "1.0.0"
  title: "Screenshot Capture API"
basePath: "/v1"
host: api.screenshot-capture-api.com
tags:
  - name: "screenshot"
    description: "Screenshot Capture API"

schemes:
  - "https"

consumes:
  - "application/json"

produces:
  - "application/json"



paths:

  /capture/{token}:
    get:
      operationId: "captureScreenshotUnauthenticated"
      description: "Screenshot-Capture-API.com Screenshot Capture is a very simple but powerful screenshot API that anyone can easily use to create pixel-perfect website screenshots. It always uses a recent version of Chrome to ensure that all modern web features are fully supported and rendering is exactly as your customers would expect."
      produces:
        - "application/json"
        - "application/pdf"
        - "image/jpeg"
        - "image/png"
        - "image/webp"
      tags:
        - "screenshot"
      parameters:
        - name: "token"
          in: "path"
          description: "A valid token is needed to make paid API calls. Tokens can be managed from your account."
          required: true
          type: "string"
        - name: "url"
          in: "query"
          description: "The URL of the website you want to capture. Please include the protocol (http:// or https://)."
          required: true
          type: "string"
        - name: "fileType"
          in: "query"
          description: "The image file format of the captured screenshot. Either png, jpeg, webp or PDF with 72 dpi."
          required: false
          type: "string"
          default: "png"
          enum:
            - "png"
            - "pdf"
            - "jpeg"
            - "webp"
        - name: "ttl"
          in: "query"
          description: "Number of seconds the capture file is cached by our CDN. An API request that is loaded through the cache does not count as a paid request. You can set a number of seconds from 0 seconds up to 2592000 seconds. This is a maximum of 30 days."
          required: false
          type: "integer"
          minimum: 0
          maximum: 2592000
          format: "int64"
        - name: "invalidate"
          in: "query"
          description: "Force the API to invalidate the cache and capture a new screenshot. This call costs you additional money, because a call of a cache hit is not charged."
          required: false
          type: "boolean"
        - name: "full"
          in: "query"
          description: "Set this parameter to true if you want to screenshot the whole web page in full size."
          required: false
          type: "boolean"
        - name: "lazyload_scroll"
          in: "query"
          description: "Set this parameter to true to scroll down through the entire page before taking a screenshot. This is useful for triggering animations or lazy load elements in full screen."
          required: false
          type: "boolean"
          default: false
        - name: "delay"
          in: "query"
          description: "The delay in milliseconds to wait after the page loads before taking the screenshot. This is in milliseconds. One second is 1000 milliseconds. From 0 milliseconds to a maximum of 10,000 milliseconds."
          required: false
          type: "integer"
          minimum: 0
          maximum: 10000
          format: "int64"
        - name: "width"
          in: "query"
          description: "The width, in pixels, of the browser viewport to use."
          required: false
          type: "integer"
          minimum: 1
          default: 1920
          format: "int64"
        - name: "height"
          in: "query"
          description: "The height, in pixels, of the browser viewport to use. Ignored if you set full to true."
          required: false
          type: "integer"
          minimum: 1
          default: 1080
          format: "int64"
        - name: "quality"
          in: "query"
          description: "The quality of the image between 0 and 100. This works only for the jpeg format, for PNG images the parameter is applied only during compression."
          required: false
          type: "integer"
          minimum: 1
          maximum: 100
          default: 90
          format: "int64"
        - name: "scale"
          in: "query"
          description: "The scale factor of the device to use when taking the screenshot. For example, a scale factor of 2 produces a high-resolution screenshot suitable for viewing on Retina devices. The larger the scale factor, the larger the screenshot produced."
          required: false
          type: "number"
          minimum: 1
          maximum: 2
          default: 1
          format: "float64"
        - name: "x"
          in: "query"
          description: "The starting point of a section screenshot on the X axis."
          required: false
          type: "integer"
          minimum: 0
          default: 0
          format: "int64"
        - name: "y"
          in: "query"
          description: "The starting point of a section screenshot on the Y axis."
          required: false
          type: "integer"
          minimum: 0
          default: 0
          format: "int64"
        - name: "redirect"
          in: "query"
          description: "If you set Redirect, the response will be a 302 redirect to the screenshot file in our CDN."
          required: false
          type: "boolean"
          default: false
        - name: "language"
          in: "query"
          description: "Sets the Accept-Language header on requests to the target URL so that you can take screenshots from a website with a specific language."
          required: false
          type: "string"
        - name: "random_user_agent"
          in: "query"
          description: "Sets a random user agent header to emulate a different devices when taking screenshots."
          required: false
          type: "boolean"
          default: false
        - name: "user_agent"
          in: "query"
          description: "Sets the user agent header to emulate a specific device when taking screenshots."
          required: false
          type: "string"
        - name: "headers"
          in: "query"
          description: "A semicolon-separated list of header parameters to be used when capturing the screenshot. Each header should be passed as a key-value pair and multiple pairs should be separated by a semicolon."
          required: false
          type: "string"
        - name: "cookies"
          in: "query"
          description: "A semicolon-separated list of cookies to be used when capturing the screenshot. Each cookies should be passed as a key-value pair and multiple pairs should be separated by a semicolon."
          required: false
          type: "string"
        - name: "css"
          in: "query"
          description: "Inject your custom CSS."
          required: false
          type: "string"
        - name: "js"
          in: "query"
          description: "Inject your custom Javascript."
          required: false
          type: "string"
        - name: "wait"
          in: "query"
          description: "Wait until the specified CSS selector matches an element present in the page before taking a screenshot. The process is canceled after 60 seconds."
          required: false
          type: "string"
        - name: "element"
          in: "query"
          description: "Takes a screenshot of the first element matched by the specified CSS selector. This is ignored if full is true. (This option cannot be used with the PDF export format.)"
          required: false
          type: "string"
        - name: "timezone"
          in: "query"
          description: "The IANA time zone identifier used for this capture."
          required: false
          type: "string"
          default: "Europe/Berlin"
        - name: "device"
          in: "query"
          description: "The device used in the emulation."
          required: false
          type: "string"
          enum:
            - "Blackberry PlayBook"
            - "Blackberry PlayBook landscape"
            - "BlackBerry Z30"
            - "BlackBerry Z30 landscape"
            - "Galaxy Note 3"
            - "Galaxy Note 3 landscape"
            - "Galaxy Note II"
            - "Galaxy Note II landscape"
            - "Galaxy S III"
            - "Galaxy S III landscape"
            - "Galaxy S5"
            - "Galaxy S5 landscape"
            - "iPad"
            - "iPad landscape"
            - "iPad Mini"
            - "iPad Mini landscape"
            - "iPad Pro"
            - "iPad Pro landscape"
            - "iPhone 4"
            - "iPhone 4 landscape"
            - "iPhone 5"
            - "iPhone 5 landscape"
            - "iPhone 6"
            - "iPhone 6 landscape"
            - "iPhone 6 Plus"
            - "iPhone 6 Plus landscape"
            - "iPhone 7"
            - "iPhone 7 landscape"
            - "iPhone 7 Plus"
            - "iPhone 7 Plus landscape"
            - "iPhone 8"
            - "iPhone 8 landscape"
            - "iPhone 8 Plus"
            - "iPhone 8 Plus landscape"
            - "iPhone SE"
            - "iPhone SE landscape"
            - "iPhone X"
            - "iPhone X landscape"
            - "iPhone XR"
            - "iPhone XR landscape"
            - "iPhone 11"
            - "iPhone 11 landscape"
            - "iPhone 11 Pro"
            - "iPhone 11 Pro landscape"
            - "iPhone 11 Pro Max"
            - "iPhone 11 Pro Max landscape"
            - "JioPhone 2"
            - "JioPhone 2 landscape"
            - "Kindle Fire HDX"
            - "Kindle Fire HDX landscape"
            - "LG Optimus L70"
            - "LG Optimus L70 landscape"
            - "Microsoft Lumia 550"
            - "Microsoft Lumia 950"
            - "Microsoft Lumia 950 landscape"
            - "Nexus 10"
            - "Nexus 10 landscape"
            - "Nexus 4"
            - "Nexus 4 landscape"
            - "Nexus 5"
            - "Nexus 5 landscape"
            - "Nexus 5X"
            - "Nexus 5X landscape"
            - "Nexus 6"
            - "Nexus 6 landscape"
            - "Nexus 6P"
            - "Nexus 6P landscape"
            - "Nexus 7"
            - "Nexus 7 landscape"
            - "Nokia Lumia 520"
            - "Nokia Lumia 520 landscape"
            - "Nokia N9"
            - "Nokia N9 landscape"
            - "Pixel 2"
            - "Pixel 2 landscape"
            - "Pixel 2 XL"
            - "Pixel 2 XL landscape"
        - name: "latitude"
          in: "query"
          description: "The latitude used in the emulation of the geo-location."
          required: false
          type: "number"
          minimum: -90
          maximum: 90
          default: 0
          format: "float64"
        - name: "longitude"
          in: "query"
          description: "The longitude used in the emulation of the geo-location."
          required: false
          type: "number"
          minimum: -180
          maximum: 180
          default: 0
          format: "float64"
        - name: "accuracy"
          in: "query"
          description: "The accuracy in meters used in the emulation of the geo-location."
          required: false
          type: "number"
          minimum: 0
          default: 2
          format: "float64"
        - name: "proxy"
          in: "query"
          description: "Use an address of a proxy server through which the screenshot should be taken. The proxy address should be formatted as http://username:password@proxyserver.com:31280"
          required: false
          type: "string"
        - name: "adblock"
          in: "query"
          description: "Prevent ads from being displayed. Block requests from popular ad networks and hide frequent ads."
          required: false
          type: "boolean"
          default: false
        - name: "hide_cookie_banners"
          in: "query"
          description: "Prevent cookie banners and pop-ups from being displayed. The best possible result is tried."
          required: false
          type: "boolean"
          default: false
      responses:
        "200":
          description: "the requested screenshot as binary"
          schema:
            type: string
            format: "binary"
          headers:
            X-REMAINING-QUOTA:
              type: "integer"
              format: "int64"
            X-REMAINING-QUOTA-PREPAID:
              type: "integer"
              format: "int64"
            Content-Type:
              type: "string"
            Location:
              type: "string"
        "302":
          description: "the requested screenshot as redirect"
          headers:
            X-REMAINING-QUOTA:
              type: "integer"
              format: "int64"
            X-REMAINING-QUOTA-PREPAID:
              type: "integer"
              format: "int64"
            Location:
              type: "string"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/ErrorModel"
          headers:
            Content-Type:
              type: "string"

  /capture/{token}/{hash}:
    get:
      operationId: "captureScreenshotAuthenticated"
      description: "Screenshot-Capture-API.com Screenshot Capture is a very simple but powerful screenshot API that anyone can easily use to create pixel-perfect website screenshots. It always uses a recent version of Chrome to ensure that all modern web features are fully supported and rendering is exactly as your customers would expect."
      produces:
        - "application/json"
        - "application/pdf"
        - "image/jpeg"
        - "image/png"
        - "image/webp"
      tags:
        - "screenshot"
      parameters:
        - name: "token"
          in: "path"
          description: "A valid token is needed to make paid API calls. Tokens can be managed from your account."
          required: true
          type: "string"
        - name: "hash"
          in: "path"
          description: "The hash value is for authenticated requests. If you want to publish this URL, you should use the authenticated requests."
          required: true
          type: "string"
        - name: "url"
          in: "query"
          description: "The URL of the website you want to capture. Please include the protocol (http:// or https://)."
          required: true
          type: "string"
        - name: "fileType"
          in: "query"
          description: "The image file format of the captured screenshot. Either png, jpeg, webp or PDF with 72 dpi."
          required: false
          type: "string"
          default: "png"
          enum:
            - "png"
            - "pdf"
            - "jpeg"
            - "webp"
        - name: "ttl"
          in: "query"
          description: "Number of seconds the capture file is cached by our CDN. An API request that is loaded through the cache does not count as a paid request. You can set a number of seconds from 0 seconds up to 2592000 seconds. This is a maximum of 30 days."
          required: false
          type: "integer"
          minimum: 0
          maximum: 2592000
          format: "int64"
        - name: "invalidate"
          in: "query"
          description: "Force the API to invalidate the cache and capture a new screenshot. This call costs you additional money, because a call of a cache hit is not charged."
          required: false
          type: "boolean"
        - name: "full"
          in: "query"
          description: "Set this parameter to true if you want to screenshot the whole web page in full size."
          required: false
          type: "boolean"
        - name: "lazyload_scroll"
          in: "query"
          description: "Set this parameter to true to scroll down through the entire page before taking a screenshot. This is useful for triggering animations or lazy load elements in full screen."
          required: false
          type: "boolean"
          default: false
        - name: "delay"
          in: "query"
          description: "The delay in milliseconds to wait after the page loads before taking the screenshot. This is in milliseconds. One second is 1000 milliseconds. From 0 milliseconds to a maximum of 10,000 milliseconds."
          required: false
          type: "integer"
          minimum: 0
          maximum: 10000
          format: "int64"
        - name: "width"
          in: "query"
          description: "The width, in pixels, of the browser viewport to use."
          required: false
          type: "integer"
          minimum: 1
          default: 1920
          format: "int64"
        - name: "height"
          in: "query"
          description: "The height, in pixels, of the browser viewport to use. Ignored if you set full to true."
          required: false
          type: "integer"
          minimum: 1
          default: 1080
          format: "int64"
        - name: "quality"
          in: "query"
          description: "The quality of the image between 0 and 100. This works only for the jpeg format, for PNG images the parameter is applied only during compression."
          required: false
          type: "integer"
          minimum: 1
          maximum: 100
          default: 90
          format: "int64"
        - name: "scale"
          in: "query"
          description: "The scale factor of the device to use when taking the screenshot. For example, a scale factor of 2 produces a high-resolution screenshot suitable for viewing on Retina devices. The larger the scale factor, the larger the screenshot produced."
          required: false
          type: "number"
          minimum: 1
          maximum: 2
          default: 1
          format: "float64"
        - name: "x"
          in: "query"
          description: "The starting point of a section screenshot on the X axis."
          required: false
          type: "integer"
          minimum: 0
          default: 0
          format: "int64"
        - name: "y"
          in: "query"
          description: "The starting point of a section screenshot on the Y axis."
          required: false
          type: "integer"
          minimum: 0
          default: 0
          format: "int64"
        - name: "redirect"
          in: "query"
          description: "If you set Redirect, the response will be a 302 redirect to the screenshot file in our CDN."
          required: false
          type: "boolean"
          default: false
        - name: "language"
          in: "query"
          description: "Sets the Accept-Language header on requests to the target URL so that you can take screenshots from a website with a specific language."
          required: false
          type: "string"
        - name: "random_user_agent"
          in: "query"
          description: "Sets a random user agent header to emulate a different devices when taking screenshots."
          required: false
          type: "boolean"
          default: false
        - name: "user_agent"
          in: "query"
          description: "Sets the user agent header to emulate a specific device when taking screenshots."
          required: false
          type: "string"
        - name: "headers"
          in: "query"
          description: "A semicolon-separated list of header parameters to be used when capturing the screenshot. Each header should be passed as a key-value pair and multiple pairs should be separated by a semicolon."
          required: false
          type: "string"
        - name: "cookies"
          in: "query"
          description: "A semicolon-separated list of cookies to be used when capturing the screenshot. Each cookies should be passed as a key-value pair and multiple pairs should be separated by a semicolon."
          required: false
          type: "string"
        - name: "css"
          in: "query"
          description: "Inject your custom CSS."
          required: false
          type: "string"
        - name: "js"
          in: "query"
          description: "Inject your custom Javascript."
          required: false
          type: "string"
        - name: "wait"
          in: "query"
          description: "Wait until the specified CSS selector matches an element present in the page before taking a screenshot. The process is canceled after 60 seconds."
          required: false
          type: "string"
        - name: "element"
          in: "query"
          description: "Takes a screenshot of the first element matched by the specified CSS selector. This is ignored if full is true. (This option cannot be used with the PDF export format.)"
          required: false
          type: "string"
        - name: "timezone"
          in: "query"
          description: "The IANA time zone identifier used for this capture."
          required: false
          type: "string"
          default: "Europe/Berlin"
        - name: "device"
          in: "query"
          description: "The device used in the emulation."
          required: false
          type: "string"
          enum:
            - "Blackberry PlayBook"
            - "Blackberry PlayBook landscape"
            - "BlackBerry Z30"
            - "BlackBerry Z30 landscape"
            - "Galaxy Note 3"
            - "Galaxy Note 3 landscape"
            - "Galaxy Note II"
            - "Galaxy Note II landscape"
            - "Galaxy S III"
            - "Galaxy S III landscape"
            - "Galaxy S5"
            - "Galaxy S5 landscape"
            - "iPad"
            - "iPad landscape"
            - "iPad Mini"
            - "iPad Mini landscape"
            - "iPad Pro"
            - "iPad Pro landscape"
            - "iPhone 4"
            - "iPhone 4 landscape"
            - "iPhone 5"
            - "iPhone 5 landscape"
            - "iPhone 6"
            - "iPhone 6 landscape"
            - "iPhone 6 Plus"
            - "iPhone 6 Plus landscape"
            - "iPhone 7"
            - "iPhone 7 landscape"
            - "iPhone 7 Plus"
            - "iPhone 7 Plus landscape"
            - "iPhone 8"
            - "iPhone 8 landscape"
            - "iPhone 8 Plus"
            - "iPhone 8 Plus landscape"
            - "iPhone SE"
            - "iPhone SE landscape"
            - "iPhone X"
            - "iPhone X landscape"
            - "iPhone XR"
            - "iPhone XR landscape"
            - "iPhone 11"
            - "iPhone 11 landscape"
            - "iPhone 11 Pro"
            - "iPhone 11 Pro landscape"
            - "iPhone 11 Pro Max"
            - "iPhone 11 Pro Max landscape"
            - "JioPhone 2"
            - "JioPhone 2 landscape"
            - "Kindle Fire HDX"
            - "Kindle Fire HDX landscape"
            - "LG Optimus L70"
            - "LG Optimus L70 landscape"
            - "Microsoft Lumia 550"
            - "Microsoft Lumia 950"
            - "Microsoft Lumia 950 landscape"
            - "Nexus 10"
            - "Nexus 10 landscape"
            - "Nexus 4"
            - "Nexus 4 landscape"
            - "Nexus 5"
            - "Nexus 5 landscape"
            - "Nexus 5X"
            - "Nexus 5X landscape"
            - "Nexus 6"
            - "Nexus 6 landscape"
            - "Nexus 6P"
            - "Nexus 6P landscape"
            - "Nexus 7"
            - "Nexus 7 landscape"
            - "Nokia Lumia 520"
            - "Nokia Lumia 520 landscape"
            - "Nokia N9"
            - "Nokia N9 landscape"
            - "Pixel 2"
            - "Pixel 2 landscape"
            - "Pixel 2 XL"
            - "Pixel 2 XL landscape"
        - name: "latitude"
          in: "query"
          description: "The latitude used in the emulation of the geo-location."
          required: false
          type: "number"
          minimum: -90
          maximum: 90
          default: 0
          format: "float64"
        - name: "longitude"
          in: "query"
          description: "The longitude used in the emulation of the geo-location."
          required: false
          type: "number"
          minimum: -180
          maximum: 180
          default: 0
          format: "float64"
        - name: "accuracy"
          in: "query"
          description: "The accuracy in meters used in the emulation of the geo-location."
          required: false
          type: "number"
          minimum: 0
          default: 2
          format: "float64"
        - name: "proxy"
          in: "query"
          description: "Use an address of a proxy server through which the screenshot should be taken. The proxy address should be formatted as http://username:password@proxyserver.com:31280"
          required: false
          type: "string"
        - name: "adblock"
          in: "query"
          description: "Prevent ads from being displayed. Block requests from popular ad networks and hide frequent ads."
          required: false
          type: "boolean"
          default: false
        - name: "hide_cookie_banners"
          in: "query"
          description: "Prevent cookie banners and pop-ups from being displayed. The best possible result is tried."
          required: false
          type: "boolean"
          default: false
      responses:
        "200":
          description: "the requested screenshot as binary"
          schema:
            type: string
            format: "binary"
          headers:
            X-REMAINING-QUOTA:
              type: "integer"
              format: "int64"
            X-REMAINING-QUOTA-PREPAID:
              type: "integer"
              format: "int64"
            Content-Type:
              type: "string"
            Location:
              type: "string"
        "302":
          description: "the requested screenshot as redirect"
          headers:
            X-REMAINING-QUOTA:
              type: "integer"
              format: "int64"
            X-REMAINING-QUOTA-PREPAID:
              type: "integer"
              format: "int64"
            Location:
              type: "string"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/ErrorModel"
          headers:
            Content-Type:
              type: "string"

# data objects
# ============
definitions:

  ErrorModel:
    type: "object"
    description: "An error description"
    properties:
      code:
        type: "integer"
        format: "int64"
        description: "The HTTP-error number"
      message:
        type: "string"
        description: "A textual description of the error occured."

